<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>	
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="_csrf" content="${_csrf.token}"/>
		<meta name="_csrf_header" content="${_csrf.headerName}"/>
		
		<title>Login Page</title>
		
		<link th:href="@{/css/pages/login/login-style.css}" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="container">
  			<div class="modal-wrapper">
    				<div class="profile-img">
      				<div class="profile-add"></div>
    				</div>
    				<div class="load-gif">
      				<div>Sending...</div>
    				</div>
    				<div class="text-wrapper show">
      				<div class="nav">
        					<div class="login">Login</div>
        					<div class="sign-up selected">Sign Up</div>
      				</div>
      				<form class="form-class" method="post" >
      				<div class="form email">
        					<div class="form-title">Email</div>
        					<input class="content" name="email"></input>
      				</div>
      				<div class="form password">
        					<div class="security hide">
          					<div class="security-type">
            						<div class="security-level"><span class="secureValue"></span>%</div>
            						<div class="secure">secure</div>
          					</div>
          					<div class="fill circle"></div>
          					<div class="cover circle"></div>
          					<div class="background circle"></div>
        					</div>
        					<div class="form-title">Password</div>
        					<input type="password" class="content" name="password"></input>
      				</div>
      				<div class="form retype">
        					<div class="form-title">Retype Password</div>
        					<input type="password" class="content" name="password2"></input>
      				</div>
      				</form>
      				<div class="button">Submit</div>
      				<div class="forget">Forget your password?</div>
    				</div>
  			</div>
  			<div class="overlay"></div>
		</div>
	</body>
	<script th:src="@{/scripts/jquery/jquery.min.js}" defer></script>
    		<script th:src="@{/scripts/pages/login/login-script.js}" defer></script>
</html>