<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>	
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="_csrf" content="${_csrf.token}"/>
		<meta name="_csrf_header" content="${_csrf.headerName}"/>
		
		<title>Login Page</title>
		
		<link th:href="@{/css/pages/login/login-style.css}" rel="stylesheet" type="text/css">
	</head>
	<body>
		<h2>Modal Login Form</h2>
		<button id="loginBtn" style="width:auto;">Login</button>
		<div id="id01" class="modal">
  			<form class="modal-content animate" method="post" action="/login/login">
  			    <input type="hidden" name="${_csrf.parameterName}"value="${_csrf.token}"/>
    				<div class="imgcontainer">
      				<span class="close" title="Close Modal">&times;</span>
      				<img src="img_avatar2.png" alt="Avatar" class="avatar">
    				</div>
    				<div class="container">
      				<label for="username"><b>Username</b></label>
      				<input type="text" placeholder="Enter Username" name="username"  required>
      				<label for="password"><b>Password</b></label>
      				<input type="password" placeholder="Enter Password" name="password" required>
        
      				<button type="submit">Login</button>
      				<label>
        					<input type="checkbox" checked="checked" name="remember"> Remember me
      				</label>
    				</div>
    				<div class="container" style="background-color:#f1f1f1">
      				<button type="button" class="cancelbtn">Cancel</button>
      				<span class="=">Forgot <a href="#">password?</a></span>
    				</div>
  			</form>
		</div>
    <script th:src="@{/scripts/jquery/jquery.min.js}" defer></script>
    <script th:src="@{/scripts/pages/login/login-script.js}" defer></script>
	</body>
</html>