<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>	
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Register Page</title>
		
		<link th:href="@{/css/pages/login/register-style.css}" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="overlay" ><h3 th:text="${new_register}"></h3></div>
	</body>
	<script th:src="@{/scripts/jquery/jquery.min.js}" defer></script>
   <!--  <script th:src="@{/scripts/pages/login/register-script.js}" defer></script> -->
</html>