<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>	
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Register Page</title>
		
		<link th:href="@{/css/pages/login/register-style.css}" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="overlay" >
			<h3 th:text="${new_register}"></h3>
			<div class="image-slide"></div>
			<div class="form-style-5">
				<form>
					<fieldset>
						<legend><span class="number">1</span> Candidate Info</legend>
						<input id="fname" type="text" name="firstname" placeholder="Your First Name *">
						<input id="lname" type="text" name="lastname" placeholder="Your Last Name *">
						<input type="text" pattern="[0-9]{5}" name="zipcode" placeholder="Your Zip Code *">
						<textarea name="field3" placeholder="About yourself"></textarea>
						<label for="job"><h3>Interests:</h3></label>
						<div id="interests" style="height: 6em; width: 12em;">
							<div class="int-container-1">
 								<label class="lbl-cbox"><input type="checkbox" name="interests[]" value="reading" />reading</label>
 								<label class="lbl-cbox"><input type="checkbox" name="interests[]" value="debate" />debate</label>
				 				<label class="lbl-cbox"><input type="checkbox" name="interests[]" value="chess" />chess</label>
 								<label class="lbl-cbox"><input type="checkbox" name="interests[]" value="boxing" />boxing</label>			
							</div>
							<div class="int-container-2" style="height: 6em; width: 12em;">
 								<label class="lbl-cbox"><input type="checkbox" name="interests[]" value="kick-boxing" />kick-boxing</label>
 								<label class="lbl-cbox"><input type="checkbox" name="interests[]" value="football" />football</label>
 								<label class="lbl-cbox"><input type="checkbox" name="interests[]" value="swimming" />swimming</label>
 								<label class="lbl-cbox"><input type="checkbox" name="interests[]" value="fishing" />fishing</label>
							</div>
							<div class="int-container-3" style="height: 6em; width: 12em;">
 								<label class="lbl-cbox"><input type="checkbox" name="interests[]" value="climbing" />climbing</label>
 								<label class="lbl-cbox"><input type="checkbox" name="interests[]" value="soccer" />soccer</label>
 								<label class="lbl-cbox"><input type="checkbox" name="interests[]" value="baseball" />baseball</label>
 								<label class="lbl-cbox"><input type="checkbox" name="interests[]" value="hockey" />hockey</label>	
							</div>		
							<div class="int-container-4" style="height: 6em; width: 12em;">
 								<label class="lbl-cbox"><input type="checkbox" name="interests[]" value="technology" />technology</label>
 								<label class="lbl-cbox"><input type="checkbox" name="interests[]" value="history" />history</label>
 								<label class="lbl-cbox"><input type="checkbox" name="interests[]" value="politics" />politics</label>
 								<label class="lbl-cbox"><input type="checkbox" name="interests[]" value="social" />social</label>	
							</div>						
						</div> 
					</fieldset>
					<fieldset class="add-info">
						<legend><span class="number">2</span> Additional Info</legend>
						<textarea name="field3" placeholder="Why do you want to join impressions?"></textarea>
					</fieldset>
					<input type="submit" value="Apply" />
				</form>
			</div>
			</div>	
	</body>
	<script th:src="@{/scripts/jquery/jquery.min.js}" defer></script>
   <!--  <script th:src="@{/scripts/pages/login/register-script.js}" defer></script> -->
</html>