<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>	
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Register Page</title>
		
		<link th:href="@{/css/pages/login/register-style.css}" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="overlay" >
			<h3 th:text="${new_register}"></h3>
			<div class="image-slide"></div>
			<div class="form-style-5">
				<form>
					<fieldset>
						<legend><span class="number">1</span> Candidate Info</legend>
						<input id="fname" type="text" name="firstname" placeholder="Your First Name *">
						<input id="lname" type="text" name="lastname" placeholder="Your Last Name *">
						<input type="email" name="field2" placeholder="Your Email *">
						<textarea name="field3" placeholder="About yourself"></textarea>
						<label for="job">Interests:</label>
						<select id="job" name="field4">
							<optgroup label="Indoors">
  								<option value="fishkeeping">Fishkeeping</option>
  								<option value="reading">Reading</option>
 						    		<option value="boxing">Boxing</option>
  								<option value="debate">Debate</option>
  								<option value="gaming">Gaming</option>
  								<option value="snooker">Snooker</option>
 						    		<option value="other_indoor">Other</option>
							</optgroup>
							<optgroup label="Outdoors">
  								<option value="football">Football</option>
  								<option value="swimming">Swimming</option>
  								<option value="fishing">Fishing</option>
  								<option value="climbing">Climbing</option>
  								<option value="cycling">Cycling</option>
  								<option value="other_outdoor">Other</option>
							</optgroup>
						</select>      
					</fieldset>
					<fieldset>
						<legend><span class="number">2</span> Additional Info</legend>
						<textarea name="field3" placeholder="About Your School"></textarea>
					</fieldset>
					<input type="submit" value="Apply" />
				</form>
			</div>
			</div>	
	</body>
	<script th:src="@{/scripts/jquery/jquery.min.js}" defer></script>
   <!--  <script th:src="@{/scripts/pages/login/register-script.js}" defer></script> -->
</html>